$primary: #ED9902;
$white:#ffffff;
$body: #9B968B;
$dark-gray: #2D2B29;
$gray: #A19A8B;
$gray-2: #9B968B;
$dark: #21201E;
$line: rgba(255, 255, 255, 0.15);

$ff: 'Rubik', sans-serif;

$transition: all .4s ease-in-out;








$desctop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;